* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header */

header{
    /* height: 100px; */
}

#titolo{
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    color: rgba(255,150,20,255);
}

/* regole main */

main{
    background-color: rgba(246,245,243,255);
}

.container{
    width: 80%;
    margin: 0px auto;
    
}

#info-ricetta{
    padding: 16px 0;
}

#info-ricetta h2{
    color: rgba(78,57,105,255);
    font-size: 24px;
    padding: 10px 0;

}

#categoria{
    font-size: 10px;
    color: rgba(169,164,177,255);
}

.text_plus{
    display: none;
}

.col-video{

    /* DEBUG */
    /* height: 100px;
    background-color: red; */
}

.col-video img {
    width: 100%;
    display: block;
}

.col-info{
    background-color: #fff;
    padding-bottom: 15px;
    padding-left: 10px;
    
    /* DEBUG */
    /* height: 100px;
    background-color: red; */
}

.col-info h3{
    padding: 15px 0;
}

.col-info li{
    list-style: none;
    padding: 5px 0;
}


/* versione tablet */
@media screen and (min-width:768px){
    
    
    
    .col-info ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .text_plus{
        display: inline;
    }

    #titolo{
        justify-content: flex-start;
        padding-left: 15px;
    }
}


/* versione desktop */
@media screen and (min-width:992px) {
    /* regole genrali */
    .row {
        display: flex;
        justify-content: space-between;
    }

    .col-info ul{
        display: block;
        
    }

     /* regole parte main */
     #info_ricetta h2 {
        /* font-size: 40px; */
        font-size: 2rem;
    }


    #info_ricetta .col_video {
        width: 70%;
    }

    #info_ricetta .col_info {
        width: 30%;
    }

}